<%= link_to "Add a new talk", new_talk_path, :class => "btn btn-primary" %>

<div class="row" style="margin-top:20px;">
  <%= render :partial => "shared/talk_thumbnail", :collection => @talks, :as => "talk" %>
</div>