<div class="row">
  <div class="span6 profile">
    <%= image_tag "ed_square.jpg", :width => 200 %>
    <div class="info">
      <p class="name">Ed Weng</p>
      <p class="area">Rails Programmer, Entrepreneur</p>

      <a href="#" class="twitter">
        <span class="icon icon-twitter-sign"></span>
      </a>
      <a href="#" class="linkedin">
        <span class="icon icon-linkedin-sign"></span>
      </a>
      <a href="#" class="github">
        <span class="icon icon-github-sign"></span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <h1 style="color:white;">Talks</h1>
  <%= render :partial => "shared/talk_thumbnail", :collection => @user.talks, :as => "talk" %>
</div>