<section class='section alt'>
  <div class='container'>
    <div class='page-header'>
      <h1>
        Who are we?
        <small>TalkShare is run by a small team of passionate people who love solving problems.</small>
      </h1>
    </div>
    <ul class='thumbnails bordered thumbnail-list'>
      <%= render :partial => "person", :collection => @people %>
    </ul>
  </div>
</section>