<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.carousel').flexslider();
  });
</script>

<div class="carousel-wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="carousel">
          <ul class="slides">
            <li>
              <div style="float:left">
                <i class="icon-bar-chart" style="font-size:300px;"></i>
              </div>
              <div style="padding-top:30px;">
                <p>Welcome to TalkShare</p>
                <p>The new way to share your talks.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .slides li {
    display:none;
    font-size: 50px;
    font-weight: 300;
    color: white;
    line-height: 60px;
  }

  .carousel-wrapper {
    background-color: #1ba1e2;
    padding-top:150px;
    margin-left: -100%;
    margin-right: -100%;
  }
</style>