<div style="width: 1100px; margin: 0 auto;">
  <div id="presentation_wrapper" style="width: 400px; float: left;">
    <script async class="speakerdeck-embed" data-id="d5395a9026be013092b722000a1d8877" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js" ></script>
  </div>
  <div id="ytplayer"></div>
</div>
