<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.carousel').flexslider();
  });
</script>

<div class="carousel-wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="carousel">
          <ul class="slides">
            <li>
              <div style="float:left">
                <i class="icon-bar-chart" style="font-size:300px;"></i>
              </div>
              <div style="padding-top:30px;">
                <p>Welcome to TalkShare</p>
                <p>The new way to share your talks.</p>
              </div>
            </li>
            <li>
              Showcase your presentations in a single spot.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top:30px;">
  <div class="section_header">
    <h3>Featured Speakers</h3>
  </div>
  <ul class="hover-block">
    <li style="margin-left: 0px;">
      <a href="#">
        <img src="http://24.media.tumblr.com/tumblr_l8vbm28zsp1qzvno4o1_500.jpg" style="width: 225px; height:225px;"></img>
        <div class="hover-content b-orange" style="top: 180px;">
          <h6>Chad Fowler</h6>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="https://secure.gravatar.com/avatar/540cb3b3712ffe045113cb03bab616a2?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></img>
        <div class="hover-content b-orange" style="top: 180px;">
          <h6>Evan Phoenix</h6>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="http://2012.frozenrails.eu/images/speakers/jeff-casimir-288-0d9c1534.jpg;"></img>
        <div class="hover-content b-orange" style="top: 180px;">
          <h6>Jeff Casimir</h6>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="http://2012.frozenrails.eu/images/speakers/steve-klabnik-288-98022220.jpg"></img>
        <div class="hover-content b-orange" style="top: 180px;">
          <h6>Steve Klabnik</h6>
        </div>
      </a>
    </li>
  </ul>
</div>

<div class="footer">
  <div class="container">
    Talkshare 2013
  </div>
</div>

<style>
  .slides li {
    display:none;
    font-size: 50px;
    font-weight: 300;
    color: white;
    line-height: 60px;
    height: 350px;
  }

  .carousel-wrapper {
    background-color: #1ba1e2;
    padding-top:150px;
  }

  .footer {
    margin-top:50px;
    padding: 25px 0 25px 0;
    text-align: right;
    background-color: #1ba1e2;
    color: white;
  }
</style>