.thumbnail-figure {
  margin: 0 0 24px;
  position: relative;
  background: #333333;
}
.thumbnail-figure img {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.thumbnail-figure img:hover {
  opacity: .4;
}

.thumbnail-title {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.thumbnail-title span {
  display: inline-block;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 5px 10px;
  text-shadow: 1px 1px 1px white;
  margin-top: 1px;
}