.profile.row {
  padding: 20px 0 20px 0;
}

.profiler{
  float: right;
}
.profile img{
  float: left;
  border-radius: 100px;
}
.profiler img{
  margin-left: 38px;
}
.profile .info{
  float: left;
  margin: 38px 0 0 30px;
}
.profile .info p{
  margin-bottom: 0;
}
.profile .info p.name{
  color: #333;
  margin-bottom: 10px;
  font-size: 30px;
}
.profile .info p.area{
  color: #98989A;
  font-style: italic;
  font-style: 16px;
  margin-bottom: 18px;
}
.profile .info a {
  margin-right: 10px;
}
.profile .info a span{
  display: inline-block;
  width: 33px;
  height: 33px;
}

.profile .info a:hover span.socialicons{
  display: none;
}
.profile .info a:hover span.socialicons_h{
  display: inline-block !important;
}

.profile .info .icon {
  font-size: 40px;
  padding-right: 15px;
}

/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {

}
@media (min-width: 980px) {

}
@media (max-width: 979px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  .profile{
    text-align: center;
  }
  .profile img{
    float: none;
    margin-bottom: 25px;
    margin-left: 0;
  }
  #process .areas{
    text-align: center;
  }
  .profile .info{
    margin: 0;
    float: none;
  }
  #process .areas .last_circle{
    float: none;
    display: inline-block;
    margin-left: -75px;
    margin-top: -54px;
  }
} 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  #team{
    margin-right: -20px;
    margin-left: -20px;
  }
  #team .container{
    padding: 0px 20px;
  }
  #team .people .row1{
    margin: 0;
  }
  .profile{
    overflow: hidden;
    margin-bottom: 35px;
  }
  .profiler img{
    margin: 0;
  }
  #aboutus .intro{
    margin-bottom: 45px;
  }
  #aboutus{
    margin-bottom: 75px;
  }
  #process .areas{
    margin-top: 193px;
    margin-bottom: 0px;
    text-align: center;
  }
  #process .areas .circle{
    float: none;
    display: inline-block;
    margin: 0;
  }
  #process .areas .last_circle{
    margin-top: -23px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .profile{
    text-align: center;
  }
  .profile img{
    float: none;
    margin-bottom: 18px;
  }
  #aboutus .intro{
    margin-bottom: 30px;
  }
  .profile .info{
    float: none;
    margin: 0;
  }
  #process .areas{
    margin-top: 250px;
  }
  #process .areas .circle{
    width: 100px;
    height: 100px;
  }
  #process .areas .last_circle{
    margin-top: 0;
  }
  #process .areas .circle img{
    margin-top: 22px;
  }
  #process .areas .circle span{
    display: none;
  }
}
